[buildout]
parts =
    instance

show-picked-versions = true

extends = 
    http://dist.plone.org/release/5.1b2-pending/versions.cfg

versions = versions


find-links =
    http://dist.plone.org/release/5.1b2-pending
    http://dist.plone.org/thirdparty


eggs = 
    Pillow
    plone.app.multilingual
    Products.PloneFormGen
    zopyx.plone.smashdocs

    
[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080

eggs =
    Zope2
    Plone
    zopyx.ipsumplone
    Products.PloneFormGen
    ${buildout:eggs}

zcml =
    zopyx.plone.smashdocs

[versions]
Products.PloneFormGen = 1.8.1
py = 1.4.29
lxml = 3.7.2
selenium=2.53.6
fs = 0.5.4
zc.buildout = 2.5.2
