[buildout]
parts =
    instance

show-picked-versions = true

extends = 
    http://dist.plone.org/release/5.0.5/versions.cfg

versions = versions


find-links =
    http://dist.plone.org/release/5.0.5
    http://dist.plone.org/thirdparty


eggs = 
    Pillow
    plone.app.multilingual
    Products.PloneFormGen
    
[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080

eggs =
    Zope2
    Plone
    zopyx.ipsumplone
    Products.PloneFormGen
    ${buildout:eggs}


[versions]
Products.PloneFormGen = 1.8.1

